<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		</style>
</head>
<body>








<div>
  <p style="float: left;   font-size: 24px;"><label>Deliver(Donor) </label> <br><label for="lfname">Maqaa:</label> <br>  <label for="lfname">Mallattoo:</label></p>
  <p style="margin: 0px auto;
	width:250px; 
	font-size: 24px;"> <label>Deliver(Recipient)</label> <br><label for="lfname">Maqaa:</label> <br>  <label for="lfname">Mallattoo:</label></p>
  <br>
  <p style="font-size: 24px;" >  
  	<br><label>Nagayeen kun garaagarummaa male fuula afuriin qophaa'ee.</label>
  	<br><label>Hub.</label>
<ol>
  <li>Koppii 1ffaa dhiyeessaaf.</li>
  <li>Koppii 2ffaa raawwataa to'anno qabeenyaa mana kuusaaf.</li>
  <li>Koppii 3ffaa raawwataa kuusaa qabeenyaaf.</li>
  <li>Koppii 4ffaa paadii irraatti kana hafuu ykn mootummaaf.</li>
</ol> 
    </p>
</div>





</body>
</html>